.comment-container {
    margin-top: 10px;
}

.comment-text {
    white-space: pre-wrap;  /* Đảm bảo text có thể xuống dòng khi dài */
    word-wrap: break-word;  /* Ngắt từ nếu quá dài */
}

button {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}



button:focus {
    outline: none;
}

/* Đảm bảo nội dung không bị cắt và tự động xuống dòng */
.word-wrap {
    word-wrap: break-word;
    white-space: normal;
}
